<template>
    <div class="container-wecheck1">
        <form class="formulario-wecheck">
            <div class="titulo-busqueda">
                <span>BUSQUEDA PROFESIONAL</span>
            </div>
            <div class="formulario">
                <div class="columna1">
                    <span>Profesión</span>
                    <input class="input-wecheck2" type="text" name="" id="">
                    <span>Cargo</span>
                    <input class="input-wecheck2" type="text" name="" id="">
                    <span>Especializaciones</span>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Ingeniero Civil</option>
                            <option>Ingeniero Electronico</option>
                            <option>Ingeniero Mecánica</option>
                            <option>Ingeniero Mecatrónica</option>
                            <option>Ingeniero Informatica</option>                        
                            <option>Ingeniero Minas</option>
                        </select>                    


                    <span>Rango de Edad</span>
                    <div class="genero">
                        <span>Desde </span>
                        <input class="input-wecheck2 number" type="number" name="" id="">                                   
                        <span>Hasta</span>
                        <input class="input-wecheck2 number" type="number" name="" id="">                                      
                </div>  
                </div>
                <div class="columna1">
                    <span>Años de experiencia</span>
                    <input class="input-wecheck2" type="text" name="" id="">
                    <span>Grado académico</span>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Primaria Inompleta</option>
                            <option>Primaria Completa</option>
                            <option>Secundaria Incompleta</option>
                            <option>Secundaria Completa</option>
                            <option>Superior</option>

                        </select>     
                    <span>Sexo</span>
                    <div class="genero">
                        <input type="Checkbox"> Masculino   
                        <input style="margin-left:10px" type="Checkbox"> Femenino
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</template>
<script>
export default {
    data(){
        return{
            placeholder:"Seleccionar"
        }
    }
}
</script>

<style>
@font-face {
  font-family: HarmoniaSansProCyr;
  src: url('../../assets/fonts/HarmoniaSansProCyr-Regular.otf') format('opentype');
}
.container-wecheck1{
    width: 100%;
    height: 120%;
    display:flex;
    background: white;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 
    
}
.titulo-busqueda{
    color: gray;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;    
    margin-bottom: 3%
    
}
.formulario{
    display: flex;
    flex-direction: row;
    font-family: HarmoniaSansProCyr;        
}
.columna1{
    display: flex;
    flex-direction: column;
    margin-right: 8%
}
.columna1 span{
      margin-top: 3%
}
.input-wecheck2{
  font-family: HarmoniaSansProCyr;    
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #c8ccc9;
  padding: 10px;

}
.number{
  width: 60px;    
}
.genero{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.formulario-wecheck{
    
}
</style>
