<template>
    <div class="container-wecheck">
        <div class="body-wecheck">
            <div class="busqueda-wecheck">
                <span class="label-busqueda">LISTA DE CERTIFICADOS</span>
                <input class="input-wecheck" type="text" id="document_id" placeholder="Buscar..." v-model="buscador">
            </div>
      <vue-good-table
        :columns="columnas"
        :rows="filas"
        styleClass="vgt-table striped"
        :search-options="{
                    enabled: true,
                    trigger: '',
                    skipDiacritics: true,
                    placeholder: 'Buscar por placa, conductor,ruta',
                    externalQuery: this.buscador
                }">
     </vue-good-table>
        </div>
    </div>
</template>
<script>
export default {

    data(){
        return{
            buscador:'',
            filas: [
                {name: 'Roberto Chavez', job:'Coqueta', date:'25/12/2019', date_start:'25/12/2019', date_end:'25/12/2019' },
                {name: 'Luis Alva', job:'Desarrollador Front', date:'25/12/2019', date_start:'25/12/2019', date_end:'25/12/2019' },
                {name: 'Michael Fernandez', job:'Diseñador', date:'25/12/2019', date_start:'25/12/2019', date_end:'25/12/2019' },
                {name: 'Jose Luis', job:'Desarrollador Backend', date:'25/12/2019', date_start:'25/12/2019', date_end:'25/12/2019' },

],
            columnas: [
          {
            label: 'Nombres',
            field: 'name',
            thClass: 'custom-th-class',
          },
          {
            label: 'Profesión',
            field: 'job',

          },
          {
            label: 'Fecha de certificación',
            field: 'date',
          },
          {
            label: 'Fecha de Ingreso',
            field: 'date_start',
          },
          {
            label: 'Fecha de Cese',
            field: 'date_end',
          },

        ],

        }
    }
}
</script>
<style>
@font-face {
  font-family: HarmoniaSansProCyr;
  src: url('../../assets/fonts/HarmoniaSansProCyr-Regular.otf') format('opentype');
}

.container-wecheck{
    width: 100%;
    height: 120%;
    display:flex;
    background: white;
    justify-content: center;
    align-items: center;    
    
}
.busqueda-wecheck{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.input-wecheck{
  font-family: HarmoniaSansProCyr;    
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #c8ccc9;
  padding: 10px;
}
.label-busqueda{
  font-family: HarmoniaSansProCyr;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;  
}
.text-resultado{
    display: flex;
    flex-direction: column;
    flex: 1

}
.resultado-busqueda{
    display: flex;
    flex-direction: row;
    margin-top: 10%

}
</style>
