<template>
    <div class="container-wecheck">
        <div class="body-wecheck">
            <div class="busqueda-wecheck">
                <span class="label-busqueda">VALIDAR DE CERTIFICADO DE TRABAJO</span>
                <input class="input-wecheck" type="text" id="document_id" placeholder="Escribe el código del certificado">
            </div>
            <div class="resultado-busqueda">
                <div class="text-resultado">
                    <span>Se encontró el documento</span>
                    <span style="color:#b7b5b5">25639847</span>
                </div>
                <div class="botones-resultado">
                    <b-button type="submit" class="wego-btn" >Ver</b-button>
                    <b-button type="submit" class="wego-btn">Descargar</b-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {

}
</script>
<style>
@font-face {
  font-family: HarmoniaSansProCyr;
  src: url('../../assets/fonts/HarmoniaSansProCyr-Regular.otf') format('opentype');
}

.container-wecheck{
    width: 100%;
    height: 120%;
    display:flex;
    background: white;
    justify-content: center;
    align-items: center;    
    
}
.busqueda-wecheck{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.input-wecheck{
  font-family: HarmoniaSansProCyr;
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #c8ccc9;
  padding: 10px;
}
.label-busqueda{
  font-family: HarmoniaSansProCyr;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;  
}
.text-resultado{
    display: flex;
    flex-direction: column;
    flex: 1

}
.resultado-busqueda{
    display: flex;
    flex-direction: row;
    margin-top: 10%

}
</style>
