<template>
  <div class="componente-tabla">
    <div class="bg-table" >


      <!-- Tabla -->
      <vue-good-table
        :columns="columns"
        :rows="rows"
        styleClass="vgt-table striped"
        @on-row-click="onRowClick"
        :search-options="{
                            enabled: true,
                            trigger: '',
                            skipDiacritics: true,
                            placeholder: 'Buscar por placa, conductor,ruta',
                            externalQuery: searchTerm
                        }">
        <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'actions'">
            <button v-on:click="onEditPress(props)" class="iconButton">
              <font-awesome-icon icon="pencil-alt" color="#3838"/>
            </button>
            <button v-on:click="onDeletePress(props)"  class="iconButton">
              <font-awesome-icon icon="trash-alt" color="#3838"/>
            </button>
          </span>
          <span v-else-if="props.column.type !== undefined && props.column.type === 'rating' && props.column.field === 'calificacion' " >
          </span>
        </template>
      </vue-good-table>
    </div>
  </div>
</template>
<script>


  export default {
    components: {
},
    props: {

      placeholder:{
        type: String,
        default : ''
      },
      columnas:{

      },
      filas: {

      },
      buscador:{

      }

    },
    data(){
      return{

        datos:null,
        searchTerm:this.buscador,
        columns:this.columnas,
        rows:this.filas,
        pressButton : false

      }
    },
    methods:{

/*       onPressRightButton : function() {

        console.log('On press right button');
        this.$emit('onPressRightButton');

      }, */
      onDeletePress : function(params) {

        console.log('Row Press', params.row);
        this.pressButton = true;
        this.$emit('onDeletePress', params.row);

      },
      onEditPress : function(params) {

        console.log('Row Press', params.row);
        this.pressButton = true;
        this.$emit('onEditPress', params.row);

      },
      onRowClick : function(params){


        if(!this.pressButton){

          console.log('Row Click', params.row);
          this.$emit('onRowClick', params.row);

        }else{

          this.pressButton = false;

        }


      }
    },

  }
</script>

<style>
  .right-button {
    width: 171.9px;
    height: 32.4px;
    border-radius: 25.7px;
    box-shadow: 0 2px 5px 0 rgba(139, 148, 144, 0.4);
    background-image: linear-gradient(101deg, #34b7be, #6dd793);
    color: #fff;
    font-family: HarmoniaSansProCyr;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    border: solid 2px #4cc4ac;
  }
  .search{
    width: 347px;
    height: 35px;
    border-radius: 32px;
    border: solid 1px #8b9490;
    font-family: HarmoniaSansProCyr;
    text-align: center;
  }
  .iconButton{
    background: transparent;
    border-width: 0;
  }
</style>
