<template>
  <div class="options">
    <div class="item" v-for="(item, index) in options" :key="index" @click="$router.push(item.url)">
      <img class="xicon" :src="item.img" :alt="item.title">
      <span class="xtitle">{{item.title}}</span>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    'options',
  ],
}
</script>
<style lang="scss">
@font-face {
  font-family: HarmoniaSansProCyr;
  src: url('../assets/fonts/HarmoniaSansProCyr-Regular.otf') format('opentype');
}
  .options {

    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 8px;
    .item {
      cursor: pointer;
      margin: 4px;
      border-radius: 4px;
      display: flex;
      padding: 8px;
      background-color: #00bcd4;
      // flex: 1;
      align-items: center;
      justify-content: space-between;
      width: 250px;
      .xicon {
        height: 50px;
        // outline: 1px solid red;
        width: auto;
      }
      .xtitle {
        font-weight: bold;
        text-align: center;
        font-family: HarmoniaSansProCyr;

      }
    }
  }
</style>
