<template>
    <div class="component-nav">
        <div class="label_empresa">
            <span id="empresa">Technology Enterprise</span>
                <b-dropdown id="dropdown-1" right  :text="username" class="m-md-2 menu-wecheck" toggle-class="dropdown-wego">
                    <b-dropdown-item>Perfil</b-dropdown-item>
                    <b-dropdown-item>Cerrar Sesión</b-dropdown-item>

                </b-dropdown>
        </div>
    </div>    
</template>
<script>
export default {
/*             props: {
                empresa:{
                },
                user:{}

        }, */
        data(){
            return{
            nombre:this.empresa,
            username:'Michael Fernandez',
            }
        },
        methods:{
/*             logout(){
                this.$store.dispatch('logout');
                window.location.href = 'login';

            } */
        }
}
</script>
<style>
.default-sidebar{
  min-width: 200px;
  background-image: linear-gradient(to bottom, rgba(174, 232, 203, 0.3), rgba(174, 232, 203, 0.3));
  display: flex;
  flex-direction: column;
  
  align-items: center;
  height: -webkit-fill-available;
  /*justify-content: center;*/
  /* margin-top: 5px; */
  /*padding-top: 25px;*/

}
.label_empresa{
    margin-left: 27px;
    font-family: HarmoniaSansProCyr;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: white;
    flex: 3;
    line-height: 50px;
}
.component-nav{
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;    
}
.menu-wecheck{
    
    float: right;
    cursor: pointer;
    color: #00bcd4;
    background-color: white;    
}
.dropdown-toggle {
    white-space: nowrap;
    color: #00bcd4;
    background-color: white;
}

</style>
