<template>
  <header class="header">
    <span clas="title">{{title}}</span>
    <img class="menu" src="/public/busqueda.svg" alt="menu">
  </header>
</template>
<style lang="scss">
.header {
  padding: 4px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  justify-content: space-between;
  background-color: blue;
  min-height: 48px;
  .menu {
    // outline: 1px solid red;
    height: 32px;
    width: auto;
  }
}
</style>
<script>
export default {
  props: [
    'title',
  ],
}
</script>
