<template>
  <div class="default">
    <div class="default-main-container"> 
      <div class="default-navbar">
        <navcont/>
      </div>
      <nuxt />
    </div>
  </div>
</template>
<script>


import Navcont from '~/components/navbar-content.vue'
export default {
    components: {
    Navcont,
  },  
  // name: 'awesome-component',
  data(){
    return{

    }
  },
  methods:{

  },
      mounted () {
/*       console.log(this.$store.state.authUser.data.accessToken)
      let config = {
        headers: {
          'Authorization':'Bearer ' + this.$store.state.authUser.data.accessToken
        }
      } 
      axios
        .get('http://localhost:8080/user/me',config)
        //.get('http://wegobackenddev-env-1.v5c683qj7w.us-east-2.elasticbeanstalk.com/user/me', config)
        .then(response => {(this.datos = response)
        console.log(response.data)
        this.nombre.push(response.data.name)
        this.empresa.push(response.data.company.businessName)
        }) */
    },
}
</script>
<style>
.default{
  display: flex;
  flex-direction: row;
}
.default-main-container{
  flex: 1;
}
.default-navbar{
  height: 73px;
  box-shadow: 8px 0px 18px 0 rgba(200, 204, 201, 0.53);
  background-color: #00bcd4;
  display: flex;
  flex-direction: row;
  align-items: center;
}

</style>
