<template>
    <div class="body-login">
<!--         <div class="sidebar">
            
        </div> -->
        <div class="login form-group" scroll=no>
     <img src="../assets/img/wecheck.svg" alt="" style="width: 265px;height: 141px;">      
            <form onsubmit="return false" style="margin-top:35px">
         <Notification :message="error" v-if="error" style="margin-bottom:15px" class="notificacion"/>          
         <div class="form-group">
              <input type="text" id="vat" class="wego-input" placeholder="DNI/RUC" v-model="email">
          </div>
          <div class="form-group">
              <input type="password" id="pass" class="wego-input" placeholder="Contraseña" v-model="password">
          </div>
          <b-button type="submit" class="wego-btn" @click="login">Iniciar Sesión</b-button>
<!--          <div style="margin-top:45%">
              <span class="label-question">¿No recuerdas tu contraseña?</span>
              <nuxt-link to="/recovery" class="link">Ingresa acá</nuxt-link>
          </div> -->
      </form>

        </div>

    </div>
</template>
<script>
import Notification from "../components/Notificacion";
export default {
    layout:'none',
    components: {
      Notification,
    },
    data(){
        return{
        email:'',
        password:'',
        error:null
        }
    },
    methods:{
        login: function() {
            console.log(this.email)
            console.log(this.password)
            if(this.email ==''){
                this.error = 'Ingrese documento de identidad'
            }
            else if(this.password ==''){
                this.error = 'Ingrese contraseña'
            }    
            else{
                this.error=false
            }        
        }
    }
}
</script>

<style>
@font-face {
  font-family: HarmoniaSansProCyr;
  src: url('../assets/fonts/HarmoniaSansProCyr-Regular.otf') format('opentype');
}

.body-login{
    width: 100%;
    height: -webkit-fill-available;
    display:flex;
    background: #00bcd4;
    justify-content: center;
    align-items: center;    
    
}
.sidebar{
    flex:1;
    width: 100%;
    background: #00bcd4
}
.login{
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: fit-content;
    position: relative;
    padding: 30px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    height: fit-content;
    
}
.form-group{
  text-align: center;
}
.wego-input {
  width: 450px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #c8ccc9;
  padding: 10px;
}

.wego-btn {
  width: 230px;
  height: 45px;
  border-radius: 28.5px;
  background-color: #00bcd4;
  margin-top: 8%;
  /* Letra   */
  font-family: HarmoniaSansProCyr;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
  border: none;
  background-image: linear-gradient(140deg, #34b7be,  #00bcd4)
}
.notificacion{
    color: red;
    font-family: HarmoniaSansProCyr;
    
}

</style>
