<template>
  <v-container>

    <ItemsList :options="options">
    </ItemsList>
  </v-container>
</template>
<script>
import ItemsList from '../components/items-list'
import TopBar from '../components/top-bar'
export default {
  components: {
    ItemsList,
    TopBar,
  },
  data: () => ({
    title: 'Technology Enterprise S.A.C.',
    options: [
      {
        title: 'Validar',
        img: '/public/validar-01.svg',
        url: '/validar',
      },
      {
        title: 'Generar Doc',
        img: '/public/generar.svg',
        url: '/',
      },
      {
        title: 'Búsqueda',
        img: '/public/busqueda.svg',
        url: '/busqueda-profesional',
      },
      {
        title: 'Listas',
        img: '/public/listas.svg',
        url: '/certificados',
      },
    ]
  }),
}
</script>
